.App {
  text-align: center;
}

label {
  display: inline-block;
  text-align: right;
  width: 75px;
  margin-right: 10px;
 }

 .size-label {
  display: inline-block;
  text-align: right;
  width: auto;
  margin-right: 1px;
  margin-left: 10px;
 }